* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: pixel_font;
    src: url('uni05_53.ttf');

}

body {
	font: 12px/18px sans-serif,Arial, Tahoma, Verdana ;
    color: #ffffff;
    background-color: #081c28;
}
a {
	color: white;
	outline: none;
	text-decoration: underline;

}
a:hover {
	text-decoration: none;
}
/* Begin of styles for the demonstration (you can remove them) */
a.expand {
	width: 150px;
	display: block;
	margin: 10px 0 0;
}
a.expand:hover {
	height: 500px;

}

a.regForm {
    font-size: 14px;
}

/* End of of styles for the demonstration */
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	min-width: 1000px;
	max-width: 2000px;
	margin: 0 auto;
}

h1 {
    color: #ffd02e;
}
/*
background-image: linear-gradient(right , #154D6B 47%, #0C2634 74%);
background-image: -o-linear-gradient(right , #154D6B 47%, #0C2634 74%);
background-image: -moz-linear-gradient(right , #154D6B 47%, #0C2634 74%);
background-image: -webkit-linear-gradient(right , #154D6B 47%, #0C2634 74%);
background-image: -ms-linear-gradient(right , #154D6B 47%, #0C2634 74%);

background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0.47, #154D6B),
    color-stop(0.74, #0C2634)
);
*/


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 215px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.20, #102e3e),
        color-stop(0.50, #154D6B),
        color-stop(0.8, #0C2634)
    );
}

#logo {
    float: left;
    height: 173px;
}


#timer {
    background-image: url("../img/timerBg.png");
    width: 455px;
    height: 134px;
    display: table;

    margin: 0 auto;
}

.timerLabel {
    color: #ff9b1a;
    font-size: 75px;
    font-family: pixel_font;
    text-align: center;
    width: 100px;
    position: absolute;
    display: inline-block;
}


#delimiters {
    display: none;
    padding-left: 90px;
    padding-top:  70px;
    text-align: left;
    width: 300px;
}

#days {
    padding-left: 90px;
    padding-top:  70px;
}

#hours {
    padding-left: 215px;
    padding-top:  70px;
}

#minutes {
    padding-left: 350px;
    padding-top:  70px;
}


#topNavbar {
    clear: both;
    border-left: 195px solid #0d2835;
    height: 1%;
    position: relative;
}

#topNavbar:after {
    content: '';
    clear: both;
    display: table;
}





#topNav {
    height:40px;
    width: 100%;
    overflow: hidden;
    margin-right: -100%;
    float : left;
    position: relative;
    background-color:#195879;
}

#GPheader {
    left: -195px;
    padding-top: 0px;
    height: 40px;
    width: 197px;
    position: relative;
    float : left;
    background-color: #16506f;
}

#gpLogoText {
    padding-top: 10px;
    text-align: center;
    font-family: pixel_font;

}

#topNav ul
{
  font-family: pixel_font;
  margin:0px 20px;
  padding-top:15px;
  float: right;
}

#topNav ul li
{
    display:inline;
    margin-left: 5px;
    height:30px;
    float:left;
    list-style:none;
}





/* Middle
-----------------------------------------------------------------------------*/
#middle {
    clear: both;
	border-left: 200px solid #081c28;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}
#content {
	padding: 20px 20px;
}

.itemBlock {
    border-image: url(../img/border.png) 25 repeat;
    border-width: 25px;
    width: 667px;
    height: 200px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 200px;
	position: relative;
	background: #0e2837;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.20, #0e2837),
        color-stop(1.0, #081c28)
    );
	left: -200px;
}

#leftNav ul
{
    float: right;
    margin:0px 20px;
    padding-top:15px;
}

#leftNav li
{
    font-family: pixel_font;
    float: right;
    width: 174px;
    height: 62px;
    background-image: url('../img/lm_normal.png');
    list-style:none;

}

#leftNav li:hover
{
    background-image: url('../img/lm_hover.png');
}

#leftNav li.active
{
    background-image: url('../img/lm_active.png');
}

.leftMenuButton
{

    display: block;
    font-family: pixel_font;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    width: 174px;
    height: 62px;
    margin: 20px 40px;
}

.leftMenuButtonActive
{
    display: block;
    font-family: pixel_font;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    width: 174px;
    height: 62px;
    margin: 20px 80px;
}



/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 100px;
	background: #081c28;
}